/* ProfileImageUpload styles neutralized as part of rollback */
.profile-image-placeholder {
  width: 120px;
  height: 120px;
}
.profile-image-display {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}