.home-content {
    position: absolute; /* Allows absolute positioning of children */
  z-index: 2; /* Ensure it's above the flower background */
  text-align: center;
  margin-top: 120px; /* Push content below navbar */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
     width: 100%;
}



.home-logo {
  width: 36%;
  height: auto;
}

.home-content h1{
    font-size: 5rem;
    color: #2C4C34;
    margin-bottom: -15px;
    
}

.bloom-button{
  background-color: #FF6D41;
  color: #fff;
  border: none;
  width: 30%;
  border-radius: 200px;
  padding: 30px 40px;
  font-size: 30px;
  cursor: pointer;
 
}

.bloom-button:hover {
  background-color: #2C4C34;
}

.post-section {
  width: 80%;
  margin-top: 40px;
}
